# Entorno virtual y Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
*.pyc

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# Docker y bases de datos locales
*.db
*.sqlite
dags/logs/

# Permite rastrear CSVs específicos en capas
!data/bronze/*.csv

# Variables de entorno y llaves secretas
.env
*.pem

# Configuraciones de VS Code / SO
.vscode/
.DS_Store
Thumbs.db
tempCodeRunnerFile.py

# Logs del sistema
logs/
*.log